<head>
    <title>I do this</title>
    <link rel="stylesheet" href="../website/assets/css/style.css">
</head>

<body>
    <h1>J'ai fait ça</h1>
    <h2>Petit site pour voir ce que vous avez compli le long de votre vie </h2>

    <ul>
        <li><button onclick="buttonClick()" class="card-box">Test</button></li>
        <li><button onclick="buttonClick()" class="card-box">Test</button></li>
        <li><button onclick="buttonClick()" class="card-box">Test</button></li>
        <li><button onclick="buttonClick()" class="card-box">Test</button></li>
        <li><button onclick="buttonClick()" class="card-box">Test</button></li>
        <li><button onclick="buttonClick()" class="card-box">Test</button></li>
        <li><button onclick="buttonClick()" class="card-box">Test</button></li>
        <li><button onclick="buttonClick()" class="card-box">Test</button></li>

    </ul>

</body>